apiVersion: 1
datasources:
  - id: 1
    uid: "infinity_aap_metrics"
    orgId: 1
    name: "ROI AAP JSON"
    type: "yesoreyeram-infinity-datasource"
    url: "https://{{hostname}}:8000/roi.json"
    basicAuth: true
    basicAuthUser: "admin"
    isDefault: true
    jsonData:
      allowedHosts:
        - "https://{{hostname}}:8000/roi.json"
      auth_method: "basicAuth"
      customHealthCheckEnabled: true
      customHealthCheckUrl: "https://{{hostname}}:8000/roi.json"
      global_queries: []
      oauthPassThru: false
      proxy_type: "none"
      timeoutInSeconds: 120
      tlsSkipVerify: true
      unsecuredQueryHandling: "allow"
    readOnly: false
    apiVersion: ""
    secureJsonData:
      basicAuthPassword: "{{ grafana_ds_basic_auth_password }}"