#Arquivo default de configuração do Ansible para o AAP, adicione aqui suas configurações personalizadas

[defaults]
filter_plugins = ./roles/integration_assets_aws/filter_plugins:./roles/integration_assets/filter_plugins
timeout=120
show_custom_stats=true
host_key_checking=false
callbacks_enabled=timer, profile_tasks, profile_roles
roles_path = ./roles

[ssh_connection]
retries=30
ssh_args=-o ControlMaster=auto -o ControlPersist=60s
pipelining=True