[defaults]
# Caminho para os filter plugins customizados
filter_plugins = ./roles/integration_assets_gcp/filter_plugins

# Caminho para as roles
roles_path = ./roles

# Desabilitar verificação de host key SSH (localhost)
host_key_checking = False

# Timeout para conexões
timeout = 30

# Formato de output mais legível
stdout_callback = yaml

# Não criar arquivos .retry
retry_files_enabled = False

callbacks_enabled=timer, profile_tasks, profile_roles